.landingWrapper {
  height: 100vh;                 /* full viewport */
  overflow-y: auto;              /* allow internal scrolling */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.landing {
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  padding-top: calc(var(--header-height));
  padding-bottom: 2rem;
  scroll-margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.CardsLanding {
  composes: landing;
  background-color: white;
}

.CardsLanding > h1{
    color: black;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 5% 0 0 5%;
}

.cardsContainer{ 
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.MapLanding {
  composes: landing;
  background-color: white;
}
.earthMap{
    width: 80%;
    margin: auto;
    box-shadow:
        0 8px 25px rgba(164, 28, 108, 0.2),
        0 4px 12px rgba(164, 28, 108, 0.15);
    border-radius: 1rem;
}

.filtersContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s;
}

.filtersContainer input{
    width: 22%;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #171628;
}

@media (max-width: 768px){
    .cardsContainer{
        flex-direction: column;
        align-items: center;
        gap:3rem;
        width: 100%;
    }
    .filtersContainer{
        width: 100%;

        flex-direction: column;
        align-items: center;
        padding: 2.5rem 0;
        gap:2rem;
    }
    .filtersContainer input{
        width: 50%;
    }

}