.homeContainer {
  background-image: url("../src/assets/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:100% 105%;
}

.cardsContainer{
  min-height: 100vh;
  background-image: linear-gradient(to right,#171628, #242335);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    gap: 5em;
    padding: 3em 0;
  }
}